Eel==0.18.2
PyYAML==6.0.3
cryptography==46.0.3
cython
docker
entropy-estimators==0.0.2
eth-account==0.13.7
eth-keys==0.7.0
eth-utils==5.3.1
facenet-pytorch
fait-prism-core
fait-prism-sdk
fvcore
gevent==25.9.1
ipfshttpclient==0.7.0
matplotlib==3.10.7
numpy==2.2.6
opencv-python==4.12.0.88
pandas==2.3.3
pillow==12.1.1
psutil==7.2.1
py-solc-x==2.0.5
pycryptodome==3.23.0
pypdf
pyserial
pytest==9.0.2
qrcode
reedsolo
requests==2.32.5
rlp==4.1.0
scikit-learn==1.7.2
scipy==1.16.2
seaborn
setuptools==80.9.0
statsmodels
thop
timm==1.0.22
torch==2.9.1
torchvision==0.24.1
tqdm==4.67.1
web3==7.14.0
